/* ----- Section ----- */

.tke-l-page-wrapper {
	display: flex;
	justify-content: center;
	height: 100vh;
}

.tke-l-container {
	display: flex;
	align-self: center;
	justify-content: space-around;
}
